<% provide(:title, "About") %>
<div class="container">
  <h1>About</h1>
  <div class="row">
    <div class="col-8 centered fill-page">
      <p>LearnersList is a simple web app for keeping track of your self-education. Whether you want to learn the guitar, programming, cooking or anything else, this site makes it easy to keep track of all the different websites and learning resources on the web. You can easily add videos, articles, courses and other learning resources, and mark them as complete when you are done with them.</p>
      <p>This project is designed, developed and maintained by Magnus Benoni. For questions or bug reports, please get in touch at contact@learnerslist.co.</p>
    </div>
  </div>
</div>

<%= render 'login_signup_overlays' %>
