<% provide(:title, "About") %>
<div class="container">
  <h1>About</h1>
  <div class="row">
    <div class="col-8 centered">
      <p>LearnersList is a simple web app for keeping track of your self-education. Whether you want to learn the guitar, programming, cooking or anything else, this site makes it easy to keep track of all the different websites and learning resources on the web. You can easily add videos, articles, courses and other learning resources, and mark them as complete when you are done with them.</p>
      <p>This project is designed, developed and maintained by Magnus Benoni.</p>
    </div>
  </div>
</div>
<div id="login-overlay">
  <div class="form login-form" id="login-overlay-div">
    <a class="exit-modal-icon" href="#"><i class="fa fa-times"></i></a>
    <h1>Log in</h1>
    <form method="post" action="#">
      <input class="email-icon" type="email" placeholder="E-mail">

      <input class="password-icon" type="password" placeholder="Password">
      
      <label>
        <input type="checkbox">
        <span class="label-text">Remember me</span>
      </label>
      
      <input class="btn btn-small" type="submit" value="Log in">
    </form>
  </div>
</div>