<nav class="pagination-nav">
  <div class="pagination">
    <%= will_paginate @resources, container: false,
                                  previous_label: "&laquo;",
                                  next_label: "&raquo;",
                                  link_separator: "" %>
  </div>
</nav>