/*------------------------------*\
  PAGE: HOME MOBILE
\*------------------------------*/

/*------------------------------*\
  HERO SECTION
\*------------------------------*/

$primary-color: #4fc3f7;

#hero {
  background: $primary-color image-url("pattern.svg");
  padding-top: 40px;
  height: 380px;
  margin-bottom: 50px;
  text-align: center;
}

.hero-text {
  h1,
  p {
    color: white;

  }
  h1 {
    font-size: 2em; /* 32px */
    padding-top: 25px;
    margin: initial;
  }
  p {
    font-size: 1.125em; /* 18px */
    line-height: 1.3;
    margin: 11px 0;
  }
}

.signup-context {
  position: relative;
}

.hero-image img {
  display: none;
  margin-top: 31px;
}

.signup-btn {
  width: 100%;
  display: block;
  background: white;
  color: $primary-color;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.375em; /* 22px */
  font-weight: bold;
  border-radius: 2px;
  transition: 0.2s ease-in-out;
  position: absolute;
  top: 210px;
  left: 0;
  &:hover {
    color: #3AB3EA;
  }
}


/*------------------------------*\
  INFO SECTION
\*------------------------------*/

#info {
  text-align: center;
  .offer h2 {
    font-size: 1.438em; /* 23px */
    margin-top: 0;
  }
  .offer,
  .feature {
    margin-bottom: 50px;
  }
  .feature:last-child {
    margin-bottom: 0px;
  }
}

.feature h3 {
  font-size: 1em; /* 16px */
}

/*------------------------------*\
  MEDIA QUERIES
\*------------------------------*/

@media (min-width: 680px) {

  #info .feature {
    margin-bottom: 0;
  }
}

@media (min-width: 850px) {

  .signup-btn {
    width: 250px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .hero-text {
    h1 {
      font-size: 2.250em; /* 36px */
    }
    p {
      font-size: 1.313em; /* 21px */
    }
  }
}

@media (min-width: 943px) {

  .hero-text h1 {
    font-size: 2.625em /* 42px */
  }
}

@media (min-width: 1080px) {

  #hero {
    height: 380px;
  }

  .hero-image img {
    display: block;
  }

  .signup-btn {
    top: 180px;
    margin: 0 0 0 15px;
  }

  .hero-text {
    margin-top: 15px;
    h1,
    p {
      text-align: left;
    }
  }
}
