/*------------------------------*\
  PAGE: LOG IN
\*------------------------------*/

.login-form,
.signup-form,
.password-form {
  margin: 0 auto;
  display: block;
  width: 100%;
}

.forgot-password-text {
  font-size: 0.813em; /* 13px */
  float: right;
}

/*------------------------------*\
  PAGE: SIGN UP
\*------------------------------*/

.login-form .btn,
.signup-form .btn,
.password-form .btn {
  margin: 30px auto 0 auto;
  display: block;
}


/*------------------------------*\
  MEDIA QUERIES
\*------------------------------*/

@media (min-width: 850px) {

  .login-form,
  .signup-form {
    width: 390px;
  }

  .password-form {
    width: 410px;
  }
}
