<header>
  <nav class="main-nav homepage-nav">
    <div class="container">
      <h1><a href="index.html">LearnersList</a></h1>
      <div id="nav-icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul>
        <li><a href="index.html">Home</a></li><!--
     --><li><a href="about.html">About</a></li><!--
     --><li><a class="login-modal" href="#">Log in</a></li>
      </ul>
    </div>
  </nav>
  <nav class="mobile-nav">
    <ul>
      <a href="index.html"><li>Home</li></a>
      <a href="about.html"><li>About</li></a>
      <a href="login.html"><li>Log in</li></a>
    </ul>
  </nav>
</header>